:root {
  --background-clr: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  padding: 30px 0px;
  text-align: center;
  background: var(--background-clr);
  border-radius: 5px;
}
.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0.5%;
  font-size: 1.5rem;
  color: gray;
}
.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}
.footer .row a:hover {
  color: #fff;
}
.footer .row ul {
  width: inherit;
}
.footer .row ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 30px;
}
.footer .row a i {
  font-size: 2rem;
  margin: 0% 1%;
}
